
<div class="container mt-5">
  <h2> Usando Pipes - exemplo 1</h2>
  <div class="jumbotron">

    <!-- e1p2 -->
    <div>
      {{ dtNascimento | date:'dd/MM/yyyy' }}
    </div>

    <br>

    <!-- e1p3 -->
    <div class="btn btn-success" (click)="verData()">CHECK DATA</div>

  </div>
</div>

<div class="container mt-5">
  <h2> Usando Pipes - exemplo 2</h2>
  <div class="jumbotron">

    <!-- e2p1 f -->
    <div>
      {{ dtNascimento | date:'fullDate' | uppercase }}
    </div>

    <br>

    <div class="btn btn-success" (click)="verData()">CHECK DATA</div>

  </div>
</div>
