<div class="form-row">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Descrição item">
  </div>
  <div class="col-3">
    <select class="custom-select mr-sm-2">
      <option selected>escolha a Categoria</option>
      <option value="1">Eletronico</option>
      <option value="2">Alimento</option>
    </select>
  </div>
  <div class="col-2">
    <input type="text" class="form-control" placeholder="valor item">
  </div>
  <div class="col-8">
    <hr>
  </div>
</div>
