<div class="container">

  <div class="mt-4">
    Formulario
    <lista-compras-formulario></lista-compras-formulario>
  </div>

  <div class="mt-4">
    <lista-compras-contador [qtdItensListaCompras]="lista.length"></lista-compras-contador>
  </div>

  <div class="mt-4">
    <h6>Listagem</h6>

    <!-- extra -->
    <div *ngIf="!lista || !lista.length">
      <div class="alert alert-warning" role="alert">
        Não existe itens nessa lista de compras
      </div>
    </div>

    <!-- e1p4 -->
    <lista-compras-item (remover)="onRemoveHandler($event)"
                        [item]="itemLista"
                        *ngFor="let itemLista of lista">
    </lista-compras-item>
  </div>

</div>
